<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">

</head>
<body>
    <header>
        <ul class="nav nav-tabs nav-justified " role="tablist">
            <li role="presentation" ><a href="/news/" aria-controls="home" role="tab" target="iframeId">新闻资讯</a></li>
            <li role="presentation"><a href="/sina/" aria-controls="profile" role="tab" target="iframeId">新浪热点</a></li>
            <li role="presentation"><a href="/acfun/" aria-controls="messages" role="tab" target="iframeId">AcFun</a></li>
            <li role="presentation"><a href="/lives/" aria-controls="settings" role="tab" target="iframeId">游戏直播</a></li>
        </ul>
    </header>
    <section style="height: auto">
        <div>
            <span>欢迎回来{{ name }}</span>
            <a href="/logout/">注销</a>
        </div>
        <iframe src="/news/"  frameborder="0"  id="iframeId" name='iframeId' style="width: 100%;height: 1000px ;margin-top: 3px" ></iframe>
    </section>
    <footer>

    </footer>
</body>
<script type="text/javascript" src="/static/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/bootstrap.min.js"></script>
<script>
</script>

</html>